<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME</title>
  </head>
  <body >
    <div class="background-video">
      <video autoplay muted loop id="background-video">
        <source src="/assets/istockphoto-1336530608-640_adpp_is.mp4" type="video/mp4">
       
      </video>
    </div>
    <div class="main">
      <!-- <img src="/assets/istockphoto-1336530608-640x640.jpg" alt=""> -->
      <img
        class="container"
        src="/assets/need-attention.gif"
        alt="Milk and Mocha Hugs"
      />
      <h2>look in the corner..</h2>
    </div>
    <div>
        <button mat-mini-fab class="clickme" (click)="openDialog()">CLICK ME</button>
      </div>
   
  </body>
</html>
