.container{
    height:100%;
    width:100%;
    padding:16px;
  }
  .center-container {
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  
    .text{
      text-align: center;
      transform: translate(5px,20px);
      font-weight: 500;
      color:#d4099e;
      font-size:20px;
      margin:0;
      font-style: italic;
    }
    .image{
      height:100%;
      width:90%;
    }